<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.custom">

    <application>
        <activity android:name=".countdown.CountdownActivity" />
        <activity android:name=".statelayout.StateLayoutActivity" />
        <activity android:name=".setting_item.SettingItemActivity" />
        <activity android:name=".my_edittext.MyEditTextActivity" />
        <activity android:name=".titlebar.TitleBarActivity" />
    </application>

</manifest>