<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait" />
        <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="状态栏">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".theme.NoActionBarThemeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".theme.FullScreenThemeActivity"
            android:theme="@style/AppTheme.FullScreenTheme" />
        <activity
            android:name=".theme.LightStatusBarThemeActivity"
            android:theme="@style/AppTheme.LightStatusBar" />
        <activity
            android:name=".theme.TransparentThemeActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".statusbar.FullScreenActivity"
            android:theme="@style/AppTheme.FullScreenTheme" />
        <activity
            android:name=".statusbar.FullScreen2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".statusbar.OperateStatusBar3Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".immersion.Immersion5Activity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".immersion.Immersion4Activity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".immersion.Immersion3Activity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".immersion.Immersion2Activity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".immersion.Immersion1Activity"
            android:theme="@style/AppTheme.Transparent" />

    </application>

</manifest>