<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application android:theme="@style/Theme.MyAndroid">
        <activity android:name=".viewpager2.tab.TabActivity"></activity>
        <activity android:name=".viewpager2.simple.ViewPager2SimpleActivity" />
        <activity android:name=".viewpager.lazy.NewLazyActivity" />
        <activity android:name=".viewpager.lazy.LazyActivity" />
        <activity android:name=".viewpager.tab.TabVpActivity" />
        <activity android:name=".viewpager.simple.ViewPagerSimpleActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".viewpager2.ViewPager2Activity" />
    </application>

</manifest>