<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application>
        <activity android:name=".listview.ScrollViewListViewActivity" />
        <activity android:name=".expandable_listview.ExpandableListViewActivity" />
        <activity android:name=".listview.CheckBoxListViewActivity" />
        <activity android:name=".listview.MutilTypeActivity" />
        <activity android:name=".listview.BaseAdapterActivity" />
        <activity android:name=".listview.SimpleAdapterActivity" />
        <activity android:name=".listview.ArrayAdapterActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".statusbar.StatusBarActivity3" />
        <activity
            android:name=".statusbar.StatusBarActivity2"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".statusbar.StatusBarActivity1" />
        <activity android:name=".statusbar.StatusBarActivity" />
        <activity
            android:name=".immersion.ImmersionActivity5"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".immersion.ImmersionActivity4" />
        <activity android:name=".immersion.ImmersionActivity3" />
        <activity android:name=".immersion.ImmersionActivity2" />
        <activity android:name=".immersion.ImmersionActivity1" />
        <activity android:name=".immersion.ImmersionActivity" />
        <activity android:name=".viewpager2.tab.TabActivity" />
        <activity android:name=".viewpager2.simple.ViewPager2SimpleActivity" />
        <activity android:name=".viewpager.lazy.NewLazyActivity" />
        <activity android:name=".viewpager.lazy.LazyActivity" />
        <activity android:name=".viewpager.tab.TabVpActivity" />
        <activity android:name=".viewpager.simple.ViewPagerSimpleActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".viewpager2.ViewPager2Activity" />
    </application>

</manifest>