<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application>
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".bottom_sheet.BottomSheetActivity" />
        <activity android:name=".tablayout.TabLayoutActivity" />
        <activity android:name=".drawable.DrawableActivity" />
        <activity android:name=".span.SpanSearchActivity" />
        <activity android:name=".span.TextStyleActivity" />
        <activity android:name=".span.SpanSimpleActivity" />
        <activity android:name=".span.SpannableStringActivity" />
        <activity android:name=".recyclerview.type.RvMutilTypeActivity" />
        <activity android:name=".recyclerview.diffutil.DiffUtilActivity" />
        <activity android:name=".recyclerview.simple.RvStaggeredActivity" />
        <activity android:name=".recyclerview.simple.RvGridActivity" />
        <activity android:name=".recyclerview.simple.RvLinearActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".expandable_listview.ExpandableListViewActivity" />
        <activity android:name=".listview.ScrollViewListViewActivity" />
        <activity android:name=".listview.CheckBoxListViewActivity" />
        <activity android:name=".listview.LvMutilTypeActivity" />
        <activity android:name=".listview.BaseAdapterActivity" />
        <activity android:name=".listview.SimpleAdapterActivity" />
        <activity android:name=".listview.ArrayAdapterActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".viewpager2.tab.ViewPager2TabActivity" />
        <activity android:name=".viewpager2.simple.ViewPager2SimpleActivity" />
        <activity android:name=".viewpager2.ViewPager2Activity" />
        <activity android:name=".viewpager.lazy.NewLazyActivity" />
        <activity android:name=".viewpager.lazy.LazyActivity" />
        <activity android:name=".viewpager.tab.TabVpActivity" />
        <activity android:name=".viewpager.simple.ViewPagerSimpleActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
    </application>

</manifest>