<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpack">

    <application>
        <activity android:name=".viewmodel.fragments.MenuActivity"></activity>
        <activity android:name=".viewmodel.simple.ViewModelSimpleActivity" />
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".lifecycle.dialog.LifecycleDialogActivity" />
        <activity android:name=".lifecycle.custom.LifecycleCustomActivity" />
        <activity android:name=".lifecycle.advertising2.AdvertisingActivity2" />
        <activity android:name=".NextActivity" />
        <activity android:name=".lifecycle.advertising.AdvertisingActivity" />
        <activity android:name=".lifecycle.simple.LifecycleSimpleActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
    </application>

</manifest>