<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tools">

    <application>
        <activity android:name=".eventbus.PostActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".state_layout.StateLayoutActivity" />
        <activity android:name=".setting_item.SettingItemActivity" />
        <activity android:name=".popupwindow.PopupWindowActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".permissions.TwoActivity" />
        <activity android:name=".permissions.PermissionActivity" />
    </application>

</manifest>