<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tools">

    <application>
        <activity android:name=".popupwindow.PopupWindowActivity"></activity>
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".permissions.TwoActivity" />
        <activity android:name=".permissions.PermissionActivity" />
    </application>

</manifest>